/* Title */
.titelchallenge {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  height: 50px;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 1em 1em 1em 3em;
  background: #f5f5f5 5px center/3em no-repeat;
  background-color: #338d1f;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Smiley_green_alien_cool.svg/800px-Smiley_green_alien_cool.svg.png");
}

/* Body Def Box */
.challenge {
  background: linear-gradient(
  315deg,
  hsl(84deg 71% 97%) 0%,
  hsl(84deg 74% 93%) 13%,
  hsl(84deg 74% 89%) 25%,
  hsl(85deg 74% 84%) 37%,
  hsl(85deg 74% 80%) 50%,
  hsl(85deg 74% 75%) 63%,
  hsl(86deg 74% 71%) 75%,
  hsl(86deg 74% 66%) 87%,
  hsl(86deg 74% 61%) 100%);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Icon */
.svgchallenge {
  width: auto;
  height: 25px;
  padding-left: 1em;
}

/* Paragraph */
.challenge p{
  margin-top: 40px !important;
  padding: 10px 10px 0 0 !important;
}

/* Heading */
.challenge h2{
  font-size: 16px !important;
  margin-top: 0px !important;
  width: 100% !important;
  height: 20px !important;
  padding: 0 0 10px 15px !important;
}
