/* Title */
.titeldedicated {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  height: 50px;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 1em 1em 1em 3em;
  background: #f5f5f5 5px center/3em no-repeat;
  background-color: #621aa9;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Smiley_green_alien_why.svg/800px-Smiley_green_alien_why.svg.png");
}

/* Body */
.dedicated {
  background-position: 0px;
  background: linear-gradient(
  315deg,
  hsl(258deg 57% 92%) 0%,
  hsl(258deg 68% 91%) 13%,
  hsl(258deg 75% 89%) 25%,
  hsl(258deg 81% 88%) 37%,
  hsl(259deg 85% 87%) 50%,
  hsl(259deg 88% 85%) 63%,
  hsl(259deg 91% 84%) 75%,
  hsl(259deg 92% 82%) 87%,
  hsl(260deg 94% 81%) 100%);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Icon */
.svgdedicated {
  width: auto;
  height: 25px;
  padding-left: 1em;
}

/* Paragraph */
.dedicated p{
  margin-top: 40px !important;
  padding: 10px 10px 0 0 !important;
}

/* Heading */
.dedicated h2{
  font-size: 16px !important;
  margin-top: 0px !important;
  width: 100% !important;
  height: 20px !important;
  padding: 0 0 10px 15px !important;
}
