/* Title Def Box */
.titeldefbox {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: darkslategray;
  height: 50px;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 0;
}

/* Body Def Box */
.defbox {
  background-position: 0px;
background: linear-gradient(
  315deg,
  hsl(240deg 50% 95%) 0%,
  hsl(158deg 13% 64%) 100%
);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Defbox Icon */
.svgdefbox {
  width: auto;
  height: 25px;
  padding-left: 1em;
}

/* Defbox Paragraph */
.defbox p{
  margin-top: 40px !important;
  padding: 10px 10px 0 0 !important;
}

/* Defbox Heading */
.defbox h2{
  font-size: 16px !important;
  margin-top: 0px !important;
  width: 100% !important;
  height: 20px !important;
  padding: 0 0 10px 15px !important;
}
