.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdknit {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #356185 5px center/3em no-repeat;
  border-radius: 25px;
}

.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}

.rmdknit {
  color:white;
  background-size: 80px 60px;
}

.rmdreview {
  padding: 1em 1em 1em 5em;
  margin-bottom: 0px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
}
