/* Title */
.titelamazing {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #1f618d;
  height: 50px;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 0;
}

/* Body */
.amazing {
  background-position: 0px;
  background: linear-gradient(
  315deg,
  hsl(213deg 92% 85%) 0%,
  hsl(213deg 91% 83%) 13%,
  hsl(213deg 90% 81%) 25%,
  hsl(213deg 89% 79%) 37%,
  hsl(213deg 88% 77%) 50%,
  hsl(213deg 88% 75%) 63%,
  hsl(213deg 87% 73%) 75%,
  hsl(213deg 86% 71%) 87%,
  hsl(213deg 86% 69%) 100%);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Icon */
.svgamazing {
  width: auto;
  height: 25px;
  padding-left: 1em;
}

/* Paragraph */
.amazing p{
  margin-top: 40px !important;
  padding: 10px 10px 0 0 !important;
}

/* Heading */
.amazing h2{
  font-size: 16px !important;
  margin-top: 0px !important;
  width: 100% !important;
  height: 20px !important;
  padding: 0 0 10px 15px !important;
}
