p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Used in TOC top Icon */
.aligncenter {text-align: center;}

/* Used in some first pages, not good responsive mode */
.columns {display: flex; }
